body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;

}

h1 {
    color: #2D2C3A;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

li {
    border: 1px red solid;
    float: right;
}

a {
    text-decoration: none;
}

li a {
    display: block;
    color: #2D2C3A;
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
  }

  li a:hover {
    border-bottom: 3px solid #8ad7BC;
  }

h2 {
    font-size: 1.8em;
    margin-top: 100px;

}
.titlegreen {
    color: #8AD7BC;
    font-size: 4em;

}

.titleblack {
    color: #2D2C3A;
    font-size: 3.5em;
}

.container {
    margin-left: 5em;
    margin-top: 5em;
}

.topnav {
    display: flex;
    border: 1px red solid;
}

.card {
    width: 25%;
    text-align: center;
    padding: 30px;
    margin: 20px;
    border: 1px solid #2D2C3A;
}

.cardContainer {
    display: flex;
}

.cardTitle {
    font-size: 1.8em;
    color: #2D2C3A;
    font-weight: 500;
}

.cardTechstack {
    font-size: 1.2em;
    color: #2D2C3A;
    font-weight: 400;
}

.footer {
    display: flex;
    background-color: #2D2C3A;
    padding: 10px;
    
}

.footer li {
    color: white;
}