body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;

}

h1 {
    color: #2D2C3A;
}

ul {
    
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    float: right;
}

footer ul {
    width: 100%;
}

li {
    padding: 15px;
    margin-top: 50px;
    margin-right: 20px;
    font-size: 1.2em;
}

a {
    text-decoration: none;
}

li a {
    display: block;
    color: #2D2C3A;
    
  }

li a:hover {
    color: #8ad7BC;
  }

h2 {
    font-size: 1.8em;
    margin-top: 100px;

}
.titlegreen {
    color: #8AD7BC;
    font-size: 4em;

}

.titleblack {
    color: #2D2C3A;
    font-size: 3.5em;
}

.container {
    margin-left: 5em;
    margin-top: 5em;
}

.topnav {
    display: flex;
    margin-left: 3em;
    margin-top: 1em;
}

.card {
    width: 25%;
    text-align: center;
    padding: 30px;
    margin: 20px;
    border: 1px solid #2D2C3A;
}

.cardContainer {
    display: flex;
}

.cardTitle {
    font-size: 1.8em;
    color: #2D2C3A;
    font-weight: 500;
}

.cardTechstack {
    font-size: 1.2em;
    color: #2D2C3A;
    font-weight: 400;
}

.footer {
    display: flex;
    background-color: #2D2C3A;
    margin: 0;
    
}

footer a {
    color: white;
    font-size: 0.6em;
}

nav {
    padding: 60px;
}