html {
    height: 100vh;
    font-family: 'Fredoka One', cursive;
}

body {
    padding: 10px;
    background-image: linear-gradient(to bottom, #fdfcdc, #f5dfaf, #f3be89, #f39970, #f07167);
    text-align: center;
    margin-top: 100px;
}

a {
    color: #0081a7;
}

#emoji-container {
    margin: 40px;
    text-align: center;
}

#emoji-container span {
    margin: 10px;
    font-size: 60px;
}

#push-btn,#unshift-btn {
    background-color: #00afb9;
}

#shift-btn,#pop-btn {
    background-color: #f07167;
}

h1 {
    letter-spacing: 2px;
    text-align: center;
    color: #f07167;
    font-size: 3em;
}

input {
    margin: 0 auto;
    display: block;
    border: none;
    height: 30px;
    background: white;
    border-radius: 6px;
    text-align: center;
    font-size: 1.4em;
    padding: 20px;
}

button {
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 6px;
    margin: 0 4px;
    font-size: 1.2em;
}

.buttons-wrapper {
    display: flex;
    justify-content: center;
    margin: 10px 0 23px;
}

