body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 21px;
}

.container {
    width: 570px;
    margin: 0 auto;
}

/* TYPOGRAPHY */

h1 {
    font-size: 60px;
    font-weight: 300;
}

h2 {
    font-size: 42px;
    font-weight: 300;
}

h3 {
    font-size: 36px;
    margin: 0;
}

.black-text {
    font-weight: 900;
}

.small-font {
    font-size: 16px;
    margin: 0;
}

.emphasis-h1 {
    font-size: 80px;
    font-weight: 900;
}

.emphasis-h2 {
    font-size: 60px;
    font-weight: 900;
}