body {
    background-color: #f1f5f8;
    font-size: 16px;
    margin:0;
    color: #233d4d;
    font-family: 'Comfortaa'
}

.btn-hero {
    border-color: #233d4d;
    padding: 5px 20px;
    background-color: white;
    font-size: 1.2em;
    border-radius: 10px;
    font-family: 'Comfortaa';
    width: 200px;
}

.navbar {
    background-color: #233d4d;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    margin-bottom: 7em;
}
.nav-list .list-item {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    color: #fcca46;
}


.navbar h4 {
    color: #fcca46;
    font-size: 2em;
    margin: 0;
    padding: 0;
}


.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: auto;
    width: 70%;    
}

div h2 {
    background-color: #233d4d;
    color: white;
    padding: 10px 40px;

}



/*  "Charcoal":"233d4d",
    "Pumpkin":"fe7f2d",
    "Sunglow":"fcca46",
    "Olivine":"a1c181",
    "Polished Pine":"619b8a"
    Coolers